* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.mobile-view-pen-icon {
  z-index: 10;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* .form-1 {
  position: relative;
}

.form-1 ::placeholder {
  position: absolute;
  height: 19px;
  width: 242px;
  left: 50px;
  top: 12px;
  bottom: 11px;
  right: 68px;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.form-control {
  height: 42px;
  width: 360px;
  border-radius: 21px;
}

.search-vector {
  position: absolute;
  height: 16.032499313354492px;
  width: 16.032499313354492px;
  left: 16.75px;
  bottom: 13.22px;
  right: 327.22px;
  top: 12.75px;
  border-radius: 0px;
}

.nav-top-text-right {
  height: 21px;
  width: 183px;
  /* left: 1161px;
  top: 27px; */
/* border-radius: nullpx; */
/* font-family: IBM Plex Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: right; */

/* font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: right; */
/* } */

/* .nav-top-text-right a {
  text-decoration: none;
}

.navbar-brand {
  width: 162.57px;
  height: 24px;
  margin-left: 72px;
} */

/* TOP NAV */

.nav {
  width: 100%;
  height: 9.375%;
  margin: 0 !important;
  padding: 0 !important;
}


.navbar-brand {
  margin-left: 20%;
  margin-top: 1.3%;
  margin-bottom: 1.67%;
}

.form-control {
  width: 400px;
  height: 45px;
  padding-left: 50px;
  background: #F2F2F2;
  border-radius: 21px;
}

.search-input {
  display: flex;
  /* background-color: aqua; */
  position: relative;
  top: 0;
  left: 0;
  bottom: 40px;
  margin: 0;
  padding: 0;
  height: 9.375%;
}

.search-vector {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 15px;
  /* right: 390px; */
  /* bottom: 2%; */
  border-radius: 0px;
}

.form-1 ::placeholder {
  position: absolute;
  left: 13%;
  top: 31%;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-top-text {
  margin-right: 2%;
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 21px;
  /* identical to box height */
  text-align: right;
  color: #2E2E2E;
}

.nav-top-text p {
  margin-bottom: 0;
}

#create-account-dropdown {
  cursor: pointer;
}

.nav-top-text a {
  text-decoration: none;
}

.mobileview-top-nav {
  display: none;
  width: 100%;
  height: 30px;
}



/* LANDING PAGE */

.landing {
  position: relative;
}

.mobile-view-landing-img-top-text {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.landing img {
  width: 100%;
}

.landing #landing-main-image {
  position: relative;
}

.landing #landing-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
}

.landing-text {
  position: absolute;
  left: 14%;
  top: 52%;
  font-size: 36px;
  color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

#landing-bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;
}

.main-part {
  padding-left: 14%;
  padding-right: 14%;
}

/* NAV-2 */

.nav-2 {
  padding-top: 50px;
  /* border-bottom: 1px solid black; */
}

.second-nav .container-fluid {
  padding: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  color: #000000;

}

.second-nav .container-fluid .li-container {
  background-color: #FFFFFF;
}

.second-nav {
  padding: 0;
}

.second-nav .second-nav-container {
  height: 48px;
  border-bottom: 1px solid black;
}

.second-nav .container-fluid .li-container {
  /* padding-bottom: 25px; */
  height: 100%;
  color: #8A8A8A;
  font-weight: 400;
  font-size: 1.1rem;
  /* padding: 20px 16px 15px 16px; */
}

.second-nav .container-fluid .li-container .nav-active-tab a {
  font-weight: 500;
  color: #000000;
  border-bottom: 2px solid black;
  height: 100%;
}

.group_btn {
  height: 40px;
  margin-bottom: 12px;
}

.writeapost_btn {
  /* position: relative; */
  margin: 0 10px 0 0;
  padding: 8px 8px;
  width: 140px;
  font-size: 1.1rem;
  /* text-align: left; */
  background: #EDEEF0;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  border-radius: 4px;
}

/* .writeapost_btn button {
  width: 140px;
  font-size: 1.1rem;
  text-align: left;
  background: #EDEEF0;
  font-weight: 500;
  color: #000000;
} */

#writeapost_img {
  /* position: absolute;
  right: 10px;
  padding: 0 2px 0 2px;
  height: 6px;
  width: 13px;
  top: 45%; */
  margin-left: 6px;
}

.joinagroup_btn {
  /* position: relative; */
  margin: 0 10px 0 0;
  padding: 8px 8px;
  width: 150px;
  font-size: 1.1rem;
  /* text-align: right; */
  background: #2F6CE5;
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.leaveagroup_btn {
  /* position: relative; */
  margin: 0 10px 0 0;
  padding: 8px 8px;
  width: 150px;
  font-size: 1.1rem;
  /* text-align: right; */
  color: #6A6A6B;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

/* .joinagroup_btn button {
  width: 150px;
  font-size: 1.1rem;
  text-align: right;
  background: #2F6CE5;
  color: #FFFFFF;
  border: 0px;
} */

.joinagroup_btn button:hover {
  color: #FFFFFF;
}

#joinagroup_img {
  /* position: absolute;
  left: 15px;
  padding: 0 2px 0 2px;
  height: 15px;
  width: 25px;
  top: 35%;
  border: 0px; */
  margin-right: 6px;
}

.main-part .mobile-view-nav-2 {
  display: none;
  margin-top: 20px;
}

.main-part .mobile-view-nav-2-posts {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
}

/* CARDS */

.pc {
  width: 100%;
  /* height: 60vh; */
  border: 1px solid #E0E0E0;
  margin: 30px 30px 30px 0px;
  border-radius: 4px;
}

.pc .pc-content {
  padding: 30px;
}

.pc-content-above {
  width: 100%;
}

.pc-content .pc-dropdowns {
  width: 30px;
  height: 20px;
  /* margin-top: 15.5%; */
  margin-left: 40px;
  cursor: pointer;
}

.pc .pc-content .card-heading {
  width: 100%;
}

.pc-1 {
  width: 100%;
  border: 1px solid #E0E0E0;
  /* margin: 30px 30px 30px 0; */
  border-radius: 4px;
}

.pc .main-card-img {
  width: 100%;
  height: 45%;
}

.pc #card-article {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 23px;
  margin: 10px 0 20px 0px;
  color: #000000;
}

.pc h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 15px 0 10px 0px;
}

.pc #card-text {
  font-size: 1.4rem;
  margin: 15px 0 10px 0px;
  font-weight: 400;
  color: #5C5C5C;
}

.pc #card-sk-img {
  height: 55px;
  width: 55px;
  margin: 22px 5px 20px 0px;
}

.pc #card-sk-text {
  margin: 34px 0px 32px 5px;
  font-size: 20px;
  font-weight: 600;
}

/* .pc span {
  display: flex;
  width: 100%;
} */

/* .pc .pc-footer {
  padding-left: 30px;
  padding-right: 30px;
} */

.pc-footer-right {
  margin: 30px 0px 0px 26px;
}

.pc-footer-right .share-icon {
  position: relative;
  height: 40px;
  width: 45px;
  cursor: pointer;
}

.pc-footer-right .share-icon #share-rectangle {
  height: 40px;
  width: 45px;
  border-radius: 2px;
}

.pc-footer-right .share-icon #share-icon {
  position: absolute;
  height: 20px;
  width: 25px;
  left: 25%;
  top: 25%;
  border-radius: 0px;
}

.pc-footer-right #views-icon {
  height: 25px;
  width: 30px;
  margin-right: 9px;
  margin-top: 7px;
}

.pc-footer-right #views-text {
  font-weight: 500;
  font-size: 18px;
  color: #525252;
  margin-right: 40px;
  margin-top: 5px
}

.cal-loc-container {
  width: 100%;
}

.cal-loc {
  width: 60%;
}

/* .cal-loc img {
  margin-right: 5px;
 
} */

.card-cal {
  width: 50%;
}

.card-cal-2 {
  width: 85%;
}

.card-cal p {
  font-size: 1.2rem;
  font-weight: 500;
}


.card-cal-2 p {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-loc {
  width: 50%;
}

.card-loc p {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-cal-img {
  margin-right: 10px;
}

.card-loc-img {
  margin-right: 10px;
}

.visit-website {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-align: center;
  border: 0.7px solid #A9AEB8;
  border-radius: 8px;
}

.visit-website p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0px;
  color: #E56135;
  cursor: pointer;
}

.apply-on-times-job p {
  color: #02B875;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0px;
  cursor: pointer;
}

.apply-on-times-job {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-align: center;
  border: 0.7px solid #A9AEB8;
  border-radius: 8px;
}

/* RIGHT-PART */

.right-part {
  margin-top: 80px;
}

.right-part .location {
  margin-left: 15%;
  border-bottom: 0.4px solid black;
  display: flex;
  justify-content: space-between;
}

.right-part .location .loc-noida {
  margin-bottom: 10px;
}

.right-part .location #right-part-pen {
  margin-bottom: 10px;
}

.right-part .location p {
  margin: 0px;
  font-size: 1.1rem;
}

.right-lower-part {
  margin-left: 25%;
  margin-top: 32px;
}

.right-lower-part .right-lower-part-note-icon {
  margin-right: 10px;
}

.right-lower-part p {
  font-size: 14px;
  margin: 0;
}

.recommended-groups {
  width: 60%;
  margin: 40px auto 0;
}

.recommended-groups .rg-img-1 {
  margin-right: 10px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.recommended-groups .rg-row-1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.recommended-groups .rg-row-1 .rg-row-1-img {
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.follow p {
  padding: 3px;
}

.follow p:hover {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
}

/* MODAL */

.modal-dialog {
  top: 20%;
  height: 520px;
  width: 880px;
  max-width: unset !important;
  /* position: relative; */
}

.modal-content {
  border-radius: 10px;
  position: relative;
}

.modal-header {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #EFFFF4;

}

.modal-header p {
  margin: 0;
  color: #008A45;
  font-weight: 500;
}

.modal-body a {
  text-decoration: none;
}

.modal-body input {
  height: 50px;
  padding: 10px;
  font-weight: 500;
}

.modal-body .name {
  width: 100%;
}

.modal-body .other-details input {
  width: 100%;
}

.modal-body h2 {
  margin: 10px 10px 15px 10px;
  font-weight: 700;
}

.modal-body {
  margin-left: 5px;
  margin-right: 5px;
}

.modal-1-create-acc-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #2F6CE5;
  color: #FFFFFF;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
}

.modal-1-signup-sm {
  width: 100%;
  border: 0.6px solid #D9D9DB;
  text-align: center;
  align-items: center;
  height: 40px;
  font-size: 1.1rem;
  text-decoration: none;
  margin-top: 9px;
}

.modal-1-signup-sm img {
  margin: 5px;
}

.illustration img {
  margin-top: 15px;
}

.illustration a {
  font-weight: 600;
}

.illustration #illustration-signin {
  margin: 15px 10px 15px 10px;
  text-align: end;
}

.illustration #illustration-img-below-txt {
  font-size: 13px;
}

.modal-body .other-details-2 input {
  width: 100%;
}

.modal-body .other-details-2 {
  margin-top: 30px;
}

#mobile-view-modal-create-acc-signin {
  display: none;
  color: #000000;
}

#mobile-view-create-acc-modal-last-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  display: none;
}

.modal-2-signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #2F6CE5;
  color: #FFFFFF;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
}

.modal-2-fp {
  width: 100%;
  text-align: center;
  align-items: center;
  height: 30px;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 9px;
  font-weight: 500;
}

.modal-2-signup-sm {
  width: 100%;
  border: 0.6px solid #D9D9DB;
  text-align: center;
  align-items: center;
  height: 40px;
  font-size: 1.1rem;
  text-decoration: none;
  margin-top: 20px;
}

.modal-2-signup-sm img {
  margin: 5px;
}

.illustration-2 {
  margin-top: 20px;
}

.illustration-2 #illustration-signin {
  margin: 15px 10px 15px 10px;
  text-align: end;
}

.illustration-2 a {
  font-weight: 600;
}

.modal-content #modal-close-a {
  position: absolute;
  top: -35px;
  right: 0;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1020px) {

  .navbar-brand {
    margin-left: 10%;
  }

  .form-control {
    width: 300px;
  }

  .search-vector {
    height: 15px;
    width: 15px;
  }

  .form-1 ::placeholder {
    font-size: 0.8rem;
  }

  .nav-top-text {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    display: none;
  }

  .mobileview-top-nav {
    display: flex;
    justify-content: flex-end;
  }

  .mobileview-top-nav img {
    margin: 5px 0 5px 10px;
    padding: 2px 2px 2px 5px;
  }
}

@media screen and (max-width: 1300px) {
  .nav-2 .group_btn {
    display: none !important;
  }

  .row .right-part {
    display: none;
  }

  .second-nav .second-nav-container {
    border: 0px;
  }

  .second-nav-container .li-container {
    border-bottom: 1px solid black;
  }

  .left-part {
    width: 100% !important;
  }
}

@media screen and (max-width: 990px) {
  .nav-2 {
    padding: 25px 0 0 0;
    display: none;
  }

  .main-part .mobile-view-nav-2 {
    display: flex;
    justify-content: space-between;
  }

  /* .nav-2 .li-container #nav-item-2 {
    display: none;
  }

  .nav-2 .li-container #nav-item-3 {
    display: none;
  }

  .nav-2 .li-container #nav-item-4 {
    display: none;
  }

  .nav-2 .li-container #nav-item-5 {
    display: none;
  }

  .second-nav-container .li-container {
    border: 0px;
  }

  .second-nav .container-fluid .li-container .nav-active-tab a {
    border: 0px;
  } */
}

@media screen and (max-width: 700px) {
  .main-part {
    padding: 0 10px 0 10px;
  }

  .mobile-view-pen-icon {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .mobile-view-landing-img-top-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    z-index: 1;
  }

  .mobile-view-landing-img-top-text img {
    width: 20px;
    height: 20px;
  }

  .mobile-view-landing-img-top-text p {
    border: 0.6px solid white;
    border-radius: 4px;
    margin: 10px 10px 0 0;
    padding: 3px;
  }

  .mobile-view-landing-img-top-text a {
    text-decoration: none;
    color: white;
  }

  .modal-dialog {
    width: 100vw;
  }

  .modal-header {
    display: none;
  }

  .illustration {
    display: none;
  }

  .illustration-2 {
    display: none;
  }

  .modal-body .name input {
    width: 100%;
  }

  #mobile-view-modal-create-acc-signin {
    display: flex;
  }

  .mobile-view-create-acc-signin-holder {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 20px;
  }

  .modal-1-create-acc-btn {
    width: 150%;
    font-size: 0.8rem;
  }

  #mobile-view-create-acc-modal-last-text {
    display: block;
  }

  /* .modal-content #modal-close-a {
    position: absolute;
    top: 10px;
    right: 10;
    background: #212529;

  } */
}